<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flight_id %>
    <select name="reservation[flight_id]">
      <% Flight.all.each do |flight| %>
        <option value="<%= flight.id %>">From <%= flight.origin %> to <%= flight.destination %> on <%= flight.date %>|<%= flight.flightnum %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <select name="reservation[user_id]">
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :row %>
    <select name="reservation[row]">
      <% Flight.all.each do |flight| %>
        <% (1..flight.airplane.rows).each do |i| %>
          <option value="<%= i %>"><%= i %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :column %>
    <select name="reservation[column]">
      <% Flight.all.each do |flight| %>
        <% (1..flight.airplane.columns).each do |i| %>
          <option value="<%= i  %>"><%= i %></option>
        <% end %>
      <% end %>
    </select>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
