<p id="notice"><%= notice %></p>

<p>
  <strong>Flight From:</strong>
  <%= @reservation.flight.origin%>
</p>
<p>
  <strong>Flight To:</strong>
  <%= @reservation.flight.destination%>
</p>
<p>
  <strong>Date:</strong>
  <%= @reservation.flight.date%>
</p>
<p>
  <strong>Airplane:</strong>
  <%= @reservation.flight.airplane.name%>
</p>
<p>
  <strong>Flight Number:</strong>
  <%= @reservation.flight.flightnum%>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.name %>
</p>

<p>
  <strong>Row:</strong>
  <%= @reservation.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @reservation.column %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
